services:
  apache:
    build: ./apache
    container_name: lamp_apache
    volumes:
    
      - .:/var/www/html
    ports:
      - "8888:80"
    depends_on:
      - mysql

  mysql:
    image: mysql:5.7
    container_name: lamp_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: magazin_muzica
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: